/* CSS Document */
#header{width:1200px;height:120px;border-style:none;margin:3px auto;padding:10px;}




#one{width:1200px;height:30px;margin: 3px auto;font-size: 80%}
#o1{width:150px;float: left;margin-top: 4px;}
#o2{width:200px;float: left;color:orange;text-align: left;margin-top: 6px;}

#o3{width:250px;float: right;margin-top: 6px;}
#nav{width:1200px;height:50px;border-style:none;margin:3px auto;border:1px;margin:3px auto;font-size: 20px;}
#di{positive:positive;bottom:20px;}


#section1{width:1200px;height:45px;margin:3px auto;border:auto;}
#section2{width:1200px;height:550px;margin:3px auto;background-color:antiquewhite;}
#aside1{width:200px;height:550px;margin:2px auto;float:left;}
#aside2{width:1000px;height:550px;margin:2px auto;float:left;}

#section3{width:1200px;height:550px;margin:40px auto;background-color:antiquewhite;}
#aside3{width:200px;height:550px;margin:2px auto;float:left;}
#aside4{width:1000px;height:550px;margin:2px auto;float:left;}




#section4{width:1200px;height:550px;margin:40px auto;background-color:antiquewhite;}
#aside5{width:200px;height:550px;margin:2px auto;float:left;}
#aside6{width:1000px;height:550px;margin:2px auto;float:left;}

#footer{width:1900px;height:300;font-size:60%;background-color:#333;color:#CCC;margin: auto;}





	#box{
		width:1200px;
		height:450px;
		border:1px solid black;
		position:relative;
		overflow:hidden;
		margin: auto;
}
	#red{
		background-color:red;
		width:1200px;
		height:450px;
	}
	#green{
		background-color:green;
		width:1200px;
	}
	#blue{
		background-color:blue;
		width:1200px;
	}
	.slide{
		width:1200px;
		height:450px;
		position:absolute;
	}
